input::placeholder {
  color: #7f7f98;
  font-weight: 400;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.css-13cymwt-control {
  outline: none !important;
  border: none !important;
  border-radius: 8px !important;
  background-color: #1e1e29 !important;
}
.css-1f43avz-a11yText-A11yText {
  outline: none !important;
  border: none !important;
}

.css-t3ipsp-control {
  width: 450px !important;
  outline: none !important;
  border: none !important;
  background-color: #1f2937 !important;
}
.css-1nmdiq5-menu {
  background-color: #1f2937 !important;
  outline: none !important;
  border: none !important;
}
.css-1nmdiq5-menu-item {
  background-color: #1e1e29 !important;
}
#react-select-2-listbox {
  background-color: #1e1e29 !important;

  padding: 10px !important;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 6px;
}

#react-select-3-listbox {
  background-color: #1e1e29 !important;

  padding: 10px !important;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 6px;
}
.css-nhbbvo-NoOptionsMessage2 {
  background-color: #1e1e29 !important;
  color: #f7f5f5 !important;
}
#react-select-2-option-0 {
  background-color: #1e1e29 !important;
  color: #f7f5f5 !important;
  border-bottom: 1px solid rgb(0, 0, 0);
}
#react-select-2-option-0:hover {
  background-color: #6e6e82 !important;
  color: #f7f5f5 !important;
  border-bottom: 1px solid rgb(0, 0, 0);
}
#react-select-2-option-1 {
  background-color: #1e1e29 !important;
  color: #f7f5f5 !important;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-top: 4px;
}
#react-select-2-option-1:hover {
  background-color: #6e6e82 !important;
  color: #f7f5f5 !important;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-top: 4px;
}
#react-select-2-option-2 {
  background-color: #1e1e29 !important;
  color: #f7f5f5 !important;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-top: 4px;
}
#react-select-2-option-2:hover {
  background-color: #6e6e82 !important;
  color: #f7f5f5 !important;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-top: 4px;
}
#react-select-2-option-3 {
  background-color: #1e1e29 !important;
  color: #f7f5f5 !important;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-top: 4px;
}
#react-select-2-option-3:hover {
  background-color: #6e6e82 !important;
  color: #f7f5f5 !important;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-top: 4px;
}
#react-select-2-option-4 {
  background-color: #1e1e29 !important;
  color: #f7f5f5 !important;

  margin-top: 4px;
}
#react-select-2-option-4:hover {
  background-color: #6e6e82 !important;
  color: #f7f5f5 !important;
  margin-top: 4px;
}

.css-art2ul-ValueContainer2 {
  outline: none !important;
  border: none !important;
  background-color: #1e1e29 !important;
  border-radius: 4px !important;
}

#react-select-2-listbox {
  background-color: #1e1e29 !important;
}

.css-art2ul-ValueContainer2 {
  width: 450px !important;
  height: 64px !important;
  padding: 0 5px;
  background-color: #1e1e29;
  border: none !important;
  border-radius: 8px !important;
  outline: none !important;
}
.css-hlgwow {
  width: 450px !important;
  height: 64px !important;
  padding: 0 5px;
  background-color: #1e1e29;
  border: none !important;
  border-radius: 8px !important;
  outline: none !important;
}
@media (max-width: 1280px) {
  .css-art2ul-ValueContainer2 {
    width: 360px !important;
  }
}
.css-1wy0on6 {
  visibility: hidden;
}
@media (max-width: 640px) {
  .css-art2ul-ValueContainer2 {
    width: 250px !important;
  }
}

.css-art2ul-ValueContainer2 input::placeholder {
  color: #a0aec0;
}
.css-b62m3t-container {
  border: none;
  outline: none;
  background-color: black;
  border-radius: 10px;
}

.css-4xgw5l-IndicatorsContainer2 {
  width: 0;
}
.css-1xc3v61-indicatorContainer {
  width: 0;
}
.css-1xc3v61-indicatorContainer {
  width: 0;
}

#react-select-2-input {
  color: white !important;
  font-weight: 400;
  font-size: 16px;
}
.css-o9ehiq-loadingIndicator {
  width: 0;
}
.css-1xtdfmb-LoadingDot {
  width: 0;
}

.css-zoievk-LoadingDot {
  width: 0;
}
.css-x748d8-LoadingDot {
  width: 0;
}
.css-4xgw5l-IndicatorsContainer2 {
  width: 0;
}
.css-15lsz6c-indicatorContainer {
  visibility: hidden;
}

#react-select-3-option-0 {
  background-color: #1e1e29 !important;
  color: #f7f5f5 !important;
  border-bottom: 1px solid rgb(0, 0, 0);
}
#react-select-3-input {
  color: white !important;
  font-weight: 400;
  font-size: 16px;
}
#react-select-3-option-0:hover {
  background-color: #6e6e82 !important;
  color: #f7f5f5 !important;
  border-bottom: 1px solid rgb(0, 0, 0);
}
#react-select-3-option-1 {
  background-color: #1e1e29 !important;
  color: #f7f5f5 !important;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-top: 4px;
}
#react-select-3-option-1:hover {
  background-color: #6e6e82 !important;
  color: #f7f5f5 !important;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-top: 4px;
}
#react-select-3-option-2 {
  background-color: #1e1e29 !important;
  color: #f7f5f5 !important;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-top: 4px;
}
#react-select-3-option-2:hover {
  background-color: #6e6e82 !important;
  color: #f7f5f5 !important;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-top: 4px;
}
#react-select-3-option-3 {
  background-color: #1e1e29 !important;
  color: #f7f5f5 !important;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-top: 4px;
}
.css-1u9des2-indicatorSeparator {
  visibility: hidden;
}
#react-select-3-option-3:hover {
  background-color: #6e6e82 !important;
  color: #f7f5f5 !important;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-top: 4px;
}
#react-select-3-option-4 {
  background-color: #1e1e29 !important;
  color: #f7f5f5 !important;

  margin-top: 4px;
}
#react-select-3-option-4:hover {
  background-color: #6e6e82 !important;
  color: #f7f5f5 !important;
  margin-top: 4px;
}
